<% content_for :extra_head do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<% end %>

<h1>HTML Stripper</h1>

<p>
  <button id="copy" class="btn btn-primary" data-clipboard-text="<%= @response %>">Copy</button>
  <%= link_to 'Back', '/util/html', class: 'btn btn-primary', id: 'backButton' %>
</p>

<label style="width: 100%;">
  <textarea style="height: <%= (24.25 * @response.split("\n").length) + 13.75 %>px" id="content" class="form-control"><%= @response %></textarea>
</label>

<script>
    let clipboard = new ClipboardJS('#copy');
    let copyButton = $("#copy");
    clipboard.on('success', function (e) {
        copyButton.html("Copied!");
        copyButton.attr('class', 'btn btn-success');
        copyButton.prop("disabled", true);
        setTimeout(function() {
            copyButton.prop("disabled", false);
            copyButton.attr('class', 'btn btn-primary');
            copyButton.html("Copy");
        }, 2000);
    })
    clipboard.on('error', function (e) {
        document.getElementById('copy').innerHTML = 'Copy Errored :(';
    })
    $("#backButton").on("click", function() {
        $(this).attr('disabled', true);
        $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>')
    });
</script>
