<h1>HTML to Text</h1>

<p>Enter HTML below, then click Submit to get its textual content.</p>

<%= form_with url: "/util/html/strip", method: :post do %>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class="width-100">
          <textarea class="form-control" placeholder="Enter text" name="input"></textarea>
        </label>
      </div>
    </div>
  </div>

  <%= submit_tag 'Submit', data: { disable_with: 'Loading...' }, class: 'btn btn-primary' %>
<% end %>
