<h1>HTML Stripper</h1>

<form action="/util/html/strip" method="post" id="stripForm">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label style="width: 100%">
          <textarea class="form-control" placeholder="Enter text" name="input"></textarea>
        </label>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-success" id="submitButton">Submit</button>
</form>

<script>
    $("#submitButton").on("click", function() {
        $(this).attr('disabled', true);
        $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>')
        $("#stripForm").submit();
    });
</script>
