<div class="row">
  <div class="col">
    <p>Welcome to Chew's Website! Your one stop spot for all of Chew related things!</p><br/>

    <p>What will be here?</p>

    <p>Glad you asked, there will be a variety of things here, such as giveaways, latest videos, various projects, and
      more!</p>

    <p>I wrote this up in about like 2 minutes I should probably work on this more, oh well I guess eh.</p>

    <h2>Projects</h2>

    <p>I've made many projects. You can check out my featured ones on <%= link_to "chew.pro", "https://chew.pro" %>.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>My latest videos:</h2>
    <div class="ratio ratio-16x9">
      <iframe src="https://www.youtube-nocookie.com/embed/videoseries?list=UUZfjUkOqV_zOdjJAkXILlqg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
