<div class="row">
  <div class="col">
    <p>Welcome to Chew's Website! Your one stop spot for all of Chew related things!</p><br/>

    <p>This site has a bunch of tools developed by Chew. You can use view the list on the <%= link_to "sitemap", "/sitemap" %>.</p>

    <h2>Projects</h2>

    <p>I've made many projects. You can check out my featured ones on <%= link_to "chew.pro", "https://chew.pro" %>.</p>

    <h2>My Latest Videos</h2>

    <p>While I don't do much YouTube-ing anymore, you're welcome to see my videos :)</p>

    <div class="ratio ratio-16x9">
      <iframe src="https://www.youtube-nocookie.com/embed/videoseries?list=UUZfjUkOqV_zOdjJAkXILlqg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
