<h1>Privacy Policy</h1>

<p><b>Last Modified: August 24th, 2021.</b></p>

<p><i>This page is a general rundown of privacy policies. It does not apply to the following:</i></p>
<ul>
  <li><i><%= link_to "Chewbotcca Discord Bot", "/chewbotcca/discord/privacy" %></i></li>
</ul>

<p><i>I don't intend to make this very confusing. The purpose of this is a basic information page breaking down everything.</i></p>

<h2>Information Collection and Use</h2>

<p>Information provided to this website, whether it be inputs such as login credentials or images, is never stored permanently.</p>

<p>In the case of every form, all data provided is passed into the respective controller, parsed, and destroyed.</p>

<p>If data ever needs to be retained, it is stored as a secure cookie and only accessed when required.</p>

<p>You can learn more about how Rails (what this site runs) handles sessions <%= link_to "on its security guide", "https://guides.rubyonrails.org/security.html#session-storage" %></p>

<h2>Use of Data</h2>

<p>All data is used solely for its intended, marked purpose. No data is collected permanently.</p>

<h2>Retention of Data</h2>

<p>All data is destroyed after each page. Cookies are stored in your browser for up to a year and can be cleared by you at any time.</p>

<h2>Transfer of Data</h2>

<p>Data inputted into the website is transferred to the site, then destroyed. No data is ever sent outside of the site.</p>

