<h1>Badge Progress</h1>

<p>Enter your Username</p>

<form action="/roblox/badges/stats" method="get">
  <input class="form-control" type="username" name="username" placeholder="name" required>
  <br />
  <div class="form-check form-check">
    <input class="form-check-input" type="radio" id="regionus" value="564406126" name="universe" checked>
    <label class="form-check-label" for="regionus"><a href="https://www.roblox.com/games/1417427737/Mining-Simulator" target="_blank">Mining Simulator</a></label>
  </div>
  <div class="form-check form-check">
    <input class="form-check-input" type="radio" id="regionuk" value="65241" name="universe">
    <label class="form-check-label" for="regionuk"><a href="https://www.roblox.com/games/189707/Natural-Disaster-Survival" target="_blank">Natural Diaster Survival</a></label>
  </div>
  <br />
  <button class="btn btn-success">Enter</button>
</form>
