<% content_for :meta_tags do %>
  <%= meta_tags title: "Privacy Policy",
                description: "Privacy Policy for the Chewbotcca Discord bot",
                service: "Chewbotcca for Discord",
                keywords: "Privacy Policy chewbotcca discord bot" %>
<% end %>

<h1>Chewbotcca for Discord Privacy Policy</h1>

<p><i>Last updated: September 12th, 2020</i></p>

<p>Here we will list everything the bot stores, most of the time it's nothing.</p>

<h2>Data Stored Directly</h2>

<p>We don't store much data directly, as of now anyway. Currently, we store:</p>
<ul>
  <li>User ID - Only when <code>%^profile</code> or <code>%^lastfm</code> are ran. This is used to make a bot profile and only stores your User ID by default.</li>
  <li>Last.fm Username - Only when <code>%^profile set lastfm [new username]</code> is executes. This stores your last.fm username and will be referenced when <code>%^lastfm</code> is executed.</li>
  <li>Server ID - Only when <code>%^serversettings</code> is ran. This is used to modify (currently unused) server settings and only stores the server's ID.</li>
</ul>

<h2>Why are you storing all this?</h2>

<p>Depends, do you want to keep typing <code>%^lastfm myreallylongusername</code> every time? This is designed to help you save time!</p>

<h2>How Data Is Shared?</h2>

<p>It's not.</p>

<h2>How can I contact you?</h2>

<p>The easiest way is on the Discord server, which you can join by going <a href="https://discord.gg/UjxQ3Bh" target="_blank">here</a>.</p>

<h2>How can I remove my data? I don't trust you.</h2>

<p>Run <code>%^profile delete</code></p>
