<% content_for :extra_head do %>
<title>Home - Chewbotcca for Discord</title>
<meta property="og:title" content="Home - Chewbotcca for Discord" />
<meta property="og:description" content="The home page of the Chewbotcca Discord bot" />
<meta name="description" content="The home page of Chewbotcca Discord bot" itemprop="description">
<meta property="twitter:title" content="Home - Chewbotcca for Discord">
<% end %>

<h1 id="fix">Chewbotcca Discord Bot</h1>

<p>Chewbotcca for Discord is back and better than ever!
It is completely re-written in Java using the JDA Discord API library.</p>
<p>It aims to be exactly what the <a href="https://github.com/Chewbotcca/Discord-Legacy">Legacy Discord bot was</a>, and hopefully even better!</p>
<p>I hope you enjoy the bot and want to improve it :)</p>
<h2>What is it?</h2>
<p>Chewbotcca is my multi-purpose bot for Discord, mostly with commands that I would like to use.</p>
<p>The goal of Chewbotcca isn't really to be the "best", its goal is to have features that I personally want in a Discord bot, and if you agree, you're free to add the bot yourself.</p>
<h2>What can it do?</h2>
<p>It's mostly fun commands like <code>%^roll</code>ing some dice, getting cats with <code>%^cat</code>, and more.</p>
<p>However, it can also be used to find information like getting RubyGem information with <code>%^rubygem</code>, ironic considering this is a Java bot now.</p>
<p>It also has powerful server info commands, for example, you can run <code>%^sinfo bot</code> to find all bots on the server and when they got added, being able to find role and member counts (<code>%^sinfo roles</code>), finding a member by join position (<code>%^sinfo member [position]</code>), finding boosters and boost time (<code>%^sinfo boost</code>), and more!</p>
<p>There's also commands such as <code>%^youtube</code> to find YouTube videos, and <code>%^ghuser</code> to detail your favorite developers on GitHub.</p>
<p>I'm always open to suggestions on what to add, please let me know what you would like to see!</p>
<h2>Links</h2>
<p>You can view commands <a href="https://chew.pw/chewbotcca/discord/commands" rel="nofollow">here</a>.</p>
<p>You can add the bot <a href="<%= invite_link "939879492" %>" rel="nofollow">with this link</a></p>
<p>You can join the Discord server with <a href="https://discord.gg/UjxQ3Bh" rel="nofollow">this link</a>.</p>
<p>You can view the GitHub repository @ <a href="https://github.com/Chewbotcca/Discord">Chewbotcca/Discord</a></p>
<h2>Licensing</h2>
<p>This project is licensed under GPL-3.0. As a result, any modifications must use the same license and any changes you make to this project must be disclosed. Read more <a href="https://choosealicense.com/licenses/gpl-3.0/" rel="nofollow">here</a>.</p>
