<% content_for :extra_head do %>
<title>Home - Chewbotcca</title>
<meta property="og:title" content="Home - Chewbotcca" />
<meta property="og:description" content="The homepage of Chewbotcca Discord Bot" />
<meta name="description" content="The homepage of Chewbotcca Discord Bot" itemprop="description">
<meta property="twitter:title" content="Home - Chewbotcca">
<% end %>

<h1 id="fix">Chewbotcca Bots</h1>
<p>Welcome to Chewbotcca. We made some bots, some are dead, some aren't. Most are though, don't get your hopes up.</p>

<h2>Table of Bots</h2>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Platform</th>
        <th>Language</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-success">
        <td>Chewbotcca for Discord <a href="https://github.com/Chewbotcca/Discord">[Repo]</a></td>
        <td>Discord</td>
        <td>Java</td>
        <td>Active Development</td>
      </tr>
      <tr class="table-success">
        <td>Chewbotcca for Slack</td>
        <td>Slack</td>
        <td>Ruby?</td>
        <td>Active Development</td>
      </tr>
      <tr class="table-danger">
        <td>ChewbotccaIRC <a href="https://github.com/Chewbotcca/IRC">[Repo]</a></td>
        <td>IRC</td>
        <td>Ruby</td>
        <td>Abandoned</td>
      </tr>
      <tr class="table-danger">
        <td>SpamBeGone <a href="https://github.com/Chewbotcca/SpamBeGone">[Repo]</a></td>
        <td>IRC</td>
        <td>Ruby</td>
        <td>Abandoned</td>
      </tr>
      <tr class="table-danger">
        <td>HowMuchLitecoinHasChewMined <a href="https://github.com/Chewbotcca/HowMuchLitecoinHasChewMined">[Repo]</a></td>
        <td>IRC</td>
        <td>Ruby</td>
        <td>Abandoned</td>
      </tr>
      <tr class="table-danger">
        <td>IdleRPG <a href="https://github.com/Chewbotcca/IdleRPG">[Repo]</a></td>
        <td>IRC</td>
        <td>Ruby</td>
        <td>Abandoned</td>
      </tr>
      <tr class="table-danger">
        <td>GitHubIRCTopicBot <a href="https://github.com/Chewbotcca/GitHubIRCTopicBot">[Repo]</a></td>
        <td>IRC</td>
        <td>Ruby</td>
        <td>Abandoned</td>
      </tr>
      <tr class="table-danger">
        <td>ToggleActiveBot <a href="https://github.com/Chewbotcca/ToggleActiveBot">[Repo]</a></td>
        <td>IRC</td>
        <td>Ruby</td>
        <td>Abandoned</td>
      </tr>
      <tr class="table-danger">
        <td>Chewbotcca for Discord (Legacy) <a href="https://github.com/Chewbotcca/Discord-Legacy">[Repo]</a></td>
        <td>Discord</td>
        <td>Ruby</td>
        <td>Abandoned</td>
      </tr>
    </tbody>
  </table>
</div>