<% content_for :meta_tags do %>
  <%= meta_tags title: "Home",
                description: "The home page of the Chewbotcca Slack bot!",
                service: "Chewbotcca for Slack",
                color: '#9b59b6',
                keywords: "chewbotcca, slack, bot" %>
<% end %>

<h1>Chewbotcca Slack Bot</h1>

<p>Chewbotcca for Slack is a bot for Slack that aims to port Chewbotcca for Discord commands over to Discord but good, I mean Slack...</p>

<p>To interact with the bot, you will simply need to use slash commands.</p>

<p>The code is hosted on this very site, but is quite basic. It will be open source when this site is. Hopefully, that happens.</p>