<% content_for :meta_tags do %>
  <%= meta_tags title: "Support",
                description: "Need help with Chewbotcca? How",
                service: "Chewbotcca for Slack",
                color: '#9b59b6' %>
<% end %>

<h1>Chewbotcca for Slack Support</h1>

<p>If you for whatever reason need support, please email me at chewbotcca@chew.pw.</p>