<% content_for :extra_head do %>
  <%= meta_tags title: "Privacy Policy",
                description: "View Chewbotcca for Slack's Privacy Policy.",
                service: "Chewbotcca for Slack",
                color: '#9b59b6' %>
<% end %>

<h1>Chewbotcca for Slack Privacy Policy</h1>

<p><i>Last updated: January 29th, 2021</i></p>

<h2>Data Stored</h2>

<p>We don't store any data. Once a request is submitted, it gets sent, handled, responded to. Nothing is logged.</p>
