<div class="row">
  <div class="col">
    <h1 id="welcomeh1">Missing Features</h1>

    <p>There are quite a bit of missing features. Here's what's left to be implemented.</p>
    <ol>
      <li>Schedule Page</li>
      <li>Leaderboard Page</li>
      <li>Buttons on Friends Page</li>
      <li>Contacts on Friends page</li>
      <li>Claim monthly life button</li>
      <li>Play and watch live games.</li>
      <li>Season XP?</li>
      <li>More settings (to match app)</li>
      <li>Cash out</li>
    </ol>
  </div>
</div>
