<h1>Sign in to HQ Online</h1>
<h4>First you need to sign in to use HQ Online!</h4>
<h5>Enter your phone number</h5>
<p>Please note: You must have an existing account.</p>
<h6>Box one is your country code, box 2 is your #</h6>
<form action="/hq/signin/code" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="input-group">
    <div class="input-group-prepend">
      <p class="input-group-text">+</p>
    </div>
    <input class="form-control" type="number" min="1" value="1" max="999" maxlength="3" style="width: 4%;" name="country" placeholder="1" required="required">
    <input class="form-control" type="phone" style="width: 60%;" name="phone" placeholder="Your number" required="required">

  </div>
  <br/>
  <h6>Method of Receiving Code</h6>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="method" id="o1" value="sms" checked="checked">
    <label class="form-check-label" for="o1">
      SMS
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="method" id="o2" value="call">
    <label class="form-check-label" for="o2">
      Call
    </label>
  </div>
  <br/>
  <div class="row">
    <div class="col">
      <div class="button">
        <button class="btn btn-success">Enter</button>
      </div>
    </div>
  </div>
</form>
