<% content_for :meta_tags do %>
  <%= meta_tags title: "Daily Challenges Month List",
                description: "View the Microsoft Solitaire Collection daily challenge month list. Select a month to view the daily challenges for that month.",
                service: "Chew's Microsoft Solitaire Collection Info",
                keywords: "microsoft solitaire collection, microsoft, solitaire, collection, daily challenges" %>
<% end %>

<h1>Daily Challenge Month List</h1>
<h2>For Microsoft Solitaire Collection</h2>

<p>Pick a month to view challenges for.</p>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
    <tr>
      <% (2015..Time.now.year).each do |year| %>
        <th><%= year %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% (1..12).each do |month| %>
      <tr>
        <% (2015..Time.now.year).each do |year| %>
          <% time = Time.new(year, month, 1) %>
          <% if year == Time.now.year && month > Time.now.month %>
            <td><%= time.strftime("%B") %></td>
          <% else %>
            <td><%= link_to time.strftime("%B"), "/solitaire/challenges/#{time.strftime("%m/%Y")}" %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
