<div class="row">
  <div class="col">
    <% if @broke %>
      <h1 id="welcomeh1">An error has occurred!</h1>
      <p>You might not have an account. Please create an account in the
        <a href="http://hqtrivia.com">app</a>
        and try again.</p>
    <% else %>
      <h1 id="welcomeh1">Here is your Auth key,
        <%= @user %>!</h1>
      <h4>Do not share it with anyone!</h4>

      <textarea id="auth" style="width: 100%;" readonly="readonly"><%= @code %></textarea>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col">
      <button id="copykey" class="btn btn-primary" data-clipboard-text="<%= @code %>">
        Copy to clipboard
      </button>

      <script>
        let clipboard = new ClipboardJS('#copykey');
        clipboard.on('success', function (e) {
          document.getElementById('copykey').innerHTML = 'Copied';
          document.getElementById('copykey').setAttribute('class', 'btn btn-success');
        })
        clipboard.on('error', function (e) {
          document.getElementById('copykey').innerHTML = 'Copy Errored :(';
        })
      </script>
    <% end %>
  </div>
</div>
