<h1>Now, enter the code you received.</h1>
<h4>Check your text messages! You have to enter the code.</h4>
<div class="search-box" style="height: 100px;">
  <h5>Enter your code</h5>
  <form action="/hqbot/authkey/show" method="post" class="search-form-homepage" _lpchecked="1">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="input-group">
      <input class="form-control" type="number" name="code" maxlength="4" placeholder="4-digit authentication code" required autocomplete="false" spellcheck="false">
      <input class="form-control" type="text" hidden name="verificationId" value="<%= @verid %>"/>
      <div class="button">
        <button class="btn btn-success" type="submit" data-disable-with="Submitting...">Submit</button>
      </div>
    </div>
  </form>
</div>
