<h1 id="fix">Daily Challenge Cheat</h1>
<p>Type in the Question below and get the answers. Gives answers 80% of the time! </p>

<table class="table table-striped table-bordered table-hover" data-toggle="table" data-search="true">
  <thead class="table-dark">
    <tr>
      <th>Question</th>
      <th>Answer</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |ques| %>
    <tr>
      <td><%= ques.question %></td>
      <td>
        <% case ques.correct %>
        <% when 1 %>
        <%= ques.option1 %>
        <% when 2 %>
        <%= ques.option2 %>
        <% when 3 %>
        <%= ques.option3 %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
