<h1>latest.log analyzer changelog</h1>

<h2>1.0.6</h2>
<ul>
  <li>Better handling of "latest" Minecraft version</li>
  <li>Check how many builds behind a Paper version is.</li>
  <li></li>
</ul>

<h2>1.0.5</h2>
<p>Check Paper build for every supported Paper version and tell user they're up to date & fixed some errors relating to thread death.</p>

<h2>1.0.4</h2>
<p>Fix non-latest.logs returning error 500.</p>

<h2>1.0.3</h2>
<p>Fix uploading for specific logs</p>

<h2>1.0.2</h2>
<p>Fix error 500 when top line of stack trace was null.</p>

<h2>1.0.1</h2>
<p>Fix version string if "v" was in the version.</p>

<h2>1.0.0</h2>
<p>Initial Release</p>
