/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 *= require "bootstrap-table/dist/bootstrap-table.min"
 */

@media (min-width: 576px) {
    h1 {
        margin-top: -50px;
    }
    div#saved {
        margin-top: 0;
        margin-bottom: 5px;
    }
}
@media (max-width: 576px) {
    h1 {
        margin-top: -20px;
    }
    div#saved {
        margin-top: 20px;
        margin-bottom: -20px;
    }
    button#savebutton {
        margin-top: 20px;
    }
}

@media (prefers-color-scheme: dark) {
    html, body, input, textarea, select, button {
        border-color: #736b5e;
        color: #e8e6e3;
    }

    textarea {
        background-color: #181a1b;
    }

    .bg-dark {
        background-color: rgb(28, 30, 31) !important;
    }

    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
        color: rgba(232, 230, 227, 0.75);
    }

    .jumbotron {
        background-color: rgb(28, 30, 31);
    }

    body {
        color: rgb(209, 205, 199);
        background-color: rgb(24, 26, 27);
    }

    .table > :not(caption) > * > * {
        background-color: rgb(28, 30, 31);
        box-shadow: rgb(40, 44, 45) 0px 0px 0px 9999px inset;
    }

    .jumbotron a {
        text-decoration-color: initial;
    }

    a:hover {
        color: rgb(85, 169, 247);
    }

    .page-link {
        color: rgb(35, 148, 253);
        text-decoration-color: initial;
        background-color: rgb(24, 26, 27);
        border-color: rgb(56, 61, 63);
    }

    .dropdown-menu {
        color: rgb(209, 205, 199)!important;
        list-style-image: initial!important;
        background-color: rgb(24, 26, 27)!important;
        border-color: rgba(140, 130, 115, 0.15)!important;
    }

    .dropdown-item {
        color: rgb(209, 205, 199);
        text-decoration-color: initial;
        background-color: transparent;
        border-color: initial;
    }

    .dropdown-item:focus, .dropdown-item:hover {
        color: rgb(211, 207, 201);
        background-color: rgb(35, 38, 39);
    }

    tbody, td, tfoot, th, thead, tr {
        border-color: inherit;
    }

    .table {
        color: rgb(209, 205, 199);
        border-color: rgb(56, 61, 63);
    }

    .table-striped > tbody > tr:nth-of-type(2n+1) {
        color: rgb(232, 230, 227);
    }

    .table-hover > tbody > tr:hover {
        color: rgb(232, 230, 227);
    }

    .form-control {
        color: rgb(209, 205, 199);
        background-color: rgb(24, 26, 27);
        border-color: rgb(60, 65, 68);
    }

    .form-control:focus {
        color: rgb(209, 205, 199);
        background-color: rgb(24, 26, 27);
        border-color: rgb(1, 57, 137);
        outline-color: initial;
        box-shadow: rgba(2, 80, 196, 0.25) 0px 0px 0px 0.25rem;
    }

    .form-control::-webkit-input-placeholder {
        color: rgb(158, 150, 137);
    }

    .form-control::placeholder {
        color: rgb(158, 150, 137);
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: rgb(35, 38, 39);
    }

    .form-control::file-selector-button {
        color: rgb(209, 205, 199);
        background-color: rgb(35, 38, 39);
        border-color: inherit;
    }

    .form-control:hover:not(:disabled):not([readonly])::file-selector-button {
        background-color: rgb(42, 45, 47);
    }

    .form-control::-webkit-file-upload-button {
        color: rgb(209, 205, 199);
        background-color: rgb(35, 38, 39);
        border-color: inherit;
    }

    .form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
        background-color: rgb(42, 45, 47);
    }

    .form-control-plaintext {
        color: rgb(209, 205, 199);
        background-color: transparent;
        border-color: transparent;
    }

    .page-link:hover {
        color: rgb(85, 169, 247);
        background-color: rgb(35, 38, 39);
        border-color: rgb(56, 61, 63);
    }

    .form-control:focus {
        color: rgb(209, 205, 199);
        background-color: rgb(24, 26, 27);
        border-color: rgb(1, 57, 137);
        outline-color: initial;
        box-shadow: rgb(2, 80, 196 / 25%) 0px 0px 0px 0.25rem;
    }

    .form-check-input {
        background-color: rgb(24, 26, 27);
        border-color: rgba(140, 130, 115, 0.25);
    }

    .dropdown-item.active, .dropdown-item:active {
        color: rgb(232, 230, 227);
        text-decoration-color: initial;
        background-color: rgb(2, 80, 196);
    }

    .table-dark {
        color: rgb(232, 230, 227);
        border-color: rgb(121, 112, 99);
        border-top-color: rgb(121, 112, 99);
        border-right-color: rgb(121, 112, 99);
        border-bottom-color: rgb(121, 112, 99);
        border-left-color: rgb(121, 112, 99);
    }

    a {
        color: rgb(35, 148, 253);
        text-decoration-color: initial;
    }

    .SandboxRoot {
        background-image: initial;
        background-color: initial;
        color: rgb(203, 198, 192);
    }

    .timeline-Widget {
        background-color: rgb(24, 26, 27);
    }

    .timeline-Body {
        border-top-color: rgba(29, 134, 192, 0.12);
        border-bottom-color: rgba(29, 134, 192, 0.12);
    }

    .card {
        background-color: rgb(24, 26, 27);
        border-color: rgba(140, 130, 115, 0.13);
    }
}
