// Place all the styles related to the discord controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #7289DA; // "Blurple"
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #2C2F33!important; // "Dark, but not black"
	}
}

@keyframes bigger-radius {
	from { border-radius: 50%; }
	to { border-radius: 25%; }
}

@keyframes smaller-radius {
	from { border-radius: 25%; }
	to { border-radius: 50%; }
}

.big-on-hover {
	animation-name: smaller-radius;
	animation-duration: 0.15s;
	border-radius: 50%;
}

.big-on-hover:hover {
	animation-name: bigger-radius;
	animation-duration: 0.15s;
	border-radius: 25%;
}