// Place all the styles related to the sports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.not-play {
	list-style-type: disc;
}

.no-list-type {
	list-style-type: none;
	margin-left: -2rem;
}

// For scoring plays
.bold {
	font-weight: bold;
}

.strike, .strike:hover {
	color: #d23d33 !important;
}

.ball, .ball:hover {
	color: #4fc94f !important;
}

.in-play, .in-play:hover {
	color: #427ee6 !important;
}

.pickoff, .pickoff:hover {
	color: #979797 !important;
}

// Only load these styles if prefers-reduced-motion is not set

@media (prefers-reduced-motion: no-preference) {
	/* The animation starts here */

	.animated-box {
		position: relative;
	}

	.animated-box:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 4px;
		clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
	}

	.animated-box:after {
		background: linear-gradient(120deg, #00F260, #0575E6, #00F260);
		background-size: 300% 300%;
	}

	.animated-box:after.yellow-red {
		background: linear-gradient(120deg, #FFC107, #FF1744, #FFC107);
		background-size: 300% 300%;
	}

	.animated-box.in:after {
		animation: frame-enter 0s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
	}

	/* motion */
	@keyframes gradient-animation {
		0% {
			background-position: 15% 0;
		}
		50% {
			background-position: 85% 100%;
		}
		100% {
			background-position: 15% 0;
		}
	}

	@keyframes frame-enter {
		0% {
			clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
		}
		25% {
			clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%);
		}
		50% {
			clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%);
		}
		75% {
			-webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%);
		}
		100% {
			-webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%);
		}
	}
}

@media (prefers-reduced-motion: reduce) {
	.animated-box {
		border-color: rgb(32, 175, 109) !important;
	}
}

.t109 {
	background-color: #a71930 !important;
}

.t144 {
	background-color: #0c2340 !important;
}

.t110 {
	background-color: #df4601 !important;
}

.t111 {
	background-color: #0d2b56 !important;
}

.t112 {
	background-color: #0e3386 !important;
}

.t145 {
	background-color: #000 !important;
}

.t113 {
	background-color: #c6011f !important;
}

.t114 {
	background-color: #002b5c !important;
}

.t115 {
	background-color: #33006f !important;
}

.t116 {
	background-color: #182d55 !important;
}

.t117 {
	background-color: #002d62 !important;
}

.t118 {
	background-color: #004687 !important;
}

.t108 {
	background-color: #ba0021 !important;
}

.t119 {
	background-color: #005a9c !important;
}

.t146 {
	background-color: #000 !important;
}

.t158 {
	background-color: #13294b !important;
}

.t142 {
	background-color: #002b5c !important;
}

.t121 {
	background-color: #002d72 !important;
}

.t147 {
	background-color: #132448 !important;
}

.t133 {
	background-color: #003831 !important;
}

.t143 {
	background-color: #e81828 !important;
}

.t134 {
	background-color: #000 !important;
}

.t135 {
	background-color: #2f241d !important;
}

.t137 {
	background-color: #fd5a1e !important;
}

.t136 {
	background-color: #0c2c56 !important;
}

.t138 {
	background-color: #c41e3a !important;
}

.t139 {
	background-color: #092c5c !important;
}

.t140 {
	background-color: #003278 !important;
}

.t141 {
	background-color: #134a8e !important;
}

.t120 {
	background-color: #ab0003 !important;
}