// Place all the styles related to the sports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.not-play {
	list-style-type: disc;
}

.no-list-type {
	list-style-type: none;
	margin-left: -2rem;
}

// For scoring plays
.bold {
	font-weight: bold;
}

.strike, .strike:hover {
	color: #d23d33!important;
}

.ball, .ball:hover {
	color: #4fc94f!important;
}

.in-play, .in-play:hover {
	color: #427ee6!important;
}

.pickoff, .pickoff:hover {
	color: #979797!important;
}

// Only load these styles if prefers-reduced-motion is not set

@media (prefers-reduced-motion: no-preference) {
	/* The animation starts here */

	.animated-box {
		position: relative;
	}

	.animated-box:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 4px;
		clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
	}

	.animated-box:after {
		background: linear-gradient(120deg, #00F260, #0575E6, #00F260);
		background-size: 300% 300%;
	}

	.animated-box:after.yellow-red {
		background: linear-gradient(120deg, #FFC107, #FF1744, #FFC107);
		background-size: 300% 300%;
	}

	.animated-box.in:after {
		animation: frame-enter 0s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
	}

	/* motion */
	@keyframes gradient-animation {
		0% {
			background-position: 15% 0;
		}
		50% {
			background-position: 85% 100%;
		}
		100% {
			background-position: 15% 0;
		}
	}

	@keyframes frame-enter {
		0% {
			clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
		}
		25% {
			clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%);
		}
		50% {
			clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%);
		}
		75% {
			-webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%);
		}
		100% {
			-webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%);
		}
	}
}

@media (prefers-reduced-motion: reduce) {
	.animated-box {
		border-color: rgb(32, 175, 109) !important;
	}
}