// Place all the styles related to the sports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.not-play {
	list-style-type: disc;
}

.no-list-type {
	list-style-type: none;
	margin-left: -2rem;
}

// For scoring plays
.bold {
	font-weight: bold;
}

.strike, .strike:hover {
	color: #d23d33!important;
}

.ball, .ball:hover {
	color: #4fc94f!important;
}

.in-play, .in-play:hover {
	color: #427ee6!important;
}

.pickoff, .pickoff:hover {
	color: #979797!important;
}